.header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background:#040722;
    color:white;
    height: 70px;
    width: 100vw;
    border: 1px solid white;
}

P{
    margin: 0 0 10px 26px;
}