.history{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 371px;
    background: #040722;
    color: white;
    height: 74vh;
    width: 100vw;
    padding: 10px;
    gap: 20px;
}