.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 371px;
    background: #040722;
    color: white;
    height: 74vh;
    width: 100vw;
    margin: 0;
    padding: 10px;
}

p{
    padding-left: 26px;
}